In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('15661317439','Ax020629.')

auth success

总市值选股

In [10]:
from jqdatasdk import *

# valuation为市值表数据库
q = query(valuation).filter(
    valuation.market_cap > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203196,601985.XSHG,12.0411,NaN,1.3830,1.6479,16.0804,1.885040e+06,1131.0241,1.885040e+06,1131.0241,2023-01-01,14.0708
1,2203212,600941.XSHG,11.3376,NaN,1.1703,1.5660,-31.2905,2.136283e+06,14456.2249,4.807549e+04,325.3268,2023-01-01,12.4690
2,2203276,000651.XSHE,7.0756,NaN,1.9016,0.9171,8.3935,5.631406e+05,1820.0703,5.587490e+05,1805.8766,2023-01-01,7.8915
3,2203355,688303.XSHG,6.2386,NaN,2.4615,3.7461,6.0323,2.137396e+05,1019.1105,2.870200e+04,136.8511,2023-01-01,17.8047
4,2203357,603392.XSHG,24.0313,NaN,9.9357,10.6248,28.9004,9.060707e+04,1147.9916,2.186807e+04,277.0684,2023-01-01,56.7900

流通市值选股

In [11]:
q = query(valuation).filter(
    valuation.circulating_market_cap > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203196,601985.XSHG,12.0411,NaN,1.3830,1.6479,16.0804,1.885040e+06,1131.0241,1.885040e+06,1131.0241,2023-01-01,14.0708
1,2203276,000651.XSHE,7.0756,NaN,1.9016,0.9171,8.3935,5.631406e+05,1820.0703,5.587490e+05,1805.8766,2023-01-01,7.8915
2,2203407,600018.XSHG,6.7251,NaN,1.1244,3.3346,-111.2606,2.328414e+06,1243.3733,2.317367e+06,1237.4742,2023-01-01,8.4687
3,2203475,600011.XSHG,-7.8318,NaN,2.3267,0.4911,52.1225,1.569809e+06,1194.6249,1.099771e+06,836.9257,2023-01-01,-11.6386
4,2203494,600048.XSHG,6.7335,NaN,0.9915,0.5978,-59.4767,1.197044e+06,1811.1281,1.197044e+06,1811.1281,2023-01-01,6.6129

总股本选股

In [12]:
q = query(valuation).filter(
    valuation.capitalization > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203189,688499.XSHG,40.8580,NaN,5.8749,3.8379,98.8203,8800.0000,138.4944,3417.1347,53.7789,2023-01-01,65.2241
1,2203190,300710.XSHE,205.7019,NaN,3.5915,3.7974,539.7964,9949.0300,24.2557,6549.0617,15.9666,2023-01-01,77.2912
2,2203191,601101.XSHG,3.9458,NaN,0.8392,0.9269,4.1105,143999.7926,88.9919,143999.7926,88.9919,2023-01-01,4.4177
3,2203192,600419.XSHG,26.3187,NaN,2.2153,2.1017,9.9549,32019.0246,50.2058,30414.5474,47.6900,2023-01-01,33.5442
4,2203193,605016.XSHG,26.0931,NaN,2.9295,5.2586,915.2258,17752.0000,38.4686,8922.2000,19.3344,2023-01-01,36.8194

流通股本选股

In [14]:
q = query(valuation).filter(
    valuation.circulating_cap > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203189,688499.XSHG,40.8580,NaN,5.8749,3.8379,98.8203,8800.0000,138.4944,3417.1347,53.7789,2023-01-01,65.2241
1,2203190,300710.XSHE,205.7019,NaN,3.5915,3.7974,539.7964,9949.0300,24.2557,6549.0617,15.9666,2023-01-01,77.2912
2,2203191,601101.XSHG,3.9458,NaN,0.8392,0.9269,4.1105,143999.7926,88.9919,143999.7926,88.9919,2023-01-01,4.4177
3,2203192,600419.XSHG,26.3187,NaN,2.2153,2.1017,9.9549,32019.0246,50.2058,30414.5474,47.6900,2023-01-01,33.5442
4,2203193,605016.XSHG,26.0931,NaN,2.9295,5.2586,915.2258,17752.0000,38.4686,8922.2000,19.3344,2023-01-01,36.8194