In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('15661317439','Ax020629.')

auth success

市净率选股

市净率=每股股价/每股净资产

In [7]:
from jqdatasdk import *

# valuation为市值表数据库
q = query(valuation).filter(
    valuation.pb_ratio < 1
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203191,601101.XSHG,3.9458,NaN,0.8392,0.9269,4.1105,143999.7926,88.9919,143999.7926,88.9919,2023-01-01,4.4177
1,2203224,002602.XSHE,98.7353,NaN,0.8817,2.3113,-30.6715,745255.6968,283.9424,610251.1369,232.5057,2023-01-01,12.2036
2,2203247,000038.XSHE,-13.4295,NaN,0.9207,1.0511,-25.2789,52277.7419,21.8521,25059.7406,10.4750,2023-01-01,-3.4671
3,2203300,600064.XSHG,5.0028,NaN,0.7081,4.2510,-25.3843,173033.9644,114.3755,173033.9644,114.3755,2023-01-01,4.8628
4,2203302,002061.XSHE,7.5928,NaN,0.7772,0.2037,3.9844,185652.7072,98.3959,185652.7072,98.3959,2023-01-01,10.1603

市销率选股

市销率=每股股价/每股销售额

In [8]:
q = query(valuation).filter(
    valuation.ps_ratio < 1
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203191,601101.XSHG,3.9458,NaN,0.8392,0.9269,4.1105,143999.7926,88.9919,143999.7926,88.9919,2023-01-01,4.4177
1,2203199,002386.XSHE,10.5664,NaN,1.1543,0.3410,20.7176,101511.4122,68.6217,101477.9483,68.5991,2023-01-01,10.7042
2,2203230,002115.XSHE,-5.4353,NaN,1.5589,0.3700,5.4363,81099.1332,36.7379,69376.9370,31.4278,2023-01-01,-5.2168
3,2203231,605287.XSHG,17.3421,NaN,1.3483,0.4312,10.6013,10000.0000,22.3900,6282.5909,14.0667,2023-01-01,16.0252
4,2203243,002037.XSHE,-66.9641,NaN,1.5918,0.8912,-40.9412,48388.3566,55.7918,48388.3566,55.7918,2023-01-01,53.7210

市盈率选股(静态市盈率)

In [9]:
q = query(valuation).filter(
    valuation.pe_ratio_lyr < 2
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203203,603378.XSHG,-8.2275,NaN,2.9160,1.4779,-25.5215,43173.6425,49.7792,42859.6642,49.4172,2023-01-01,-9.1507
1,2203207,603326.XSHG,-14.8173,NaN,2.5725,1.5204,-65.1649,31551.2680,25.1779,31551.2680,25.1779,2023-01-01,-15.5527
2,2203214,300506.XSHE,-8.5313,NaN,4.2361,18.1551,103.6724,69559.6569,42.2923,57251.7456,34.8091,2023-01-01,-8.0270
3,2203216,688176.XSHG,-28.3407,NaN,2.2488,297972.5322,14.6770,57000.0000,64.1250,10670.0000,12.0038,2023-01-01,-27.2931
4,2203222,688277.XSHG,-50.6746,NaN,5.3944,36.8439,-20.0812,41984.6848,49.9198,29918.3088,35.5729,2023-01-01,-62.4519

市盈率选股(动态市盈率)

In [11]:
q = query(valuation).filter(
    valuation.pe_ratio > 8
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203189,688499.XSHG,40.8580,NaN,5.8749,3.8379,98.8203,8800.0000,138.4944,3417.1347,53.7789,2023-01-01,65.2241
1,2203190,300710.XSHE,205.7019,NaN,3.5915,3.7974,539.7964,9949.0300,24.2557,6549.0617,15.9666,2023-01-01,77.2912
2,2203192,600419.XSHG,26.3187,NaN,2.2153,2.1017,9.9549,32019.0246,50.2058,30414.5474,47.6900,2023-01-01,33.5442
3,2203193,605016.XSHG,26.0931,NaN,2.9295,5.2586,915.2258,17752.0000,38.4686,8922.2000,19.3344,2023-01-01,36.8194
4,2203194,300383.XSHE,25.9501,NaN,1.0945,2.0267,17.3301,179759.2847,146.6836,178113.2945,145.3404,2023-01-01,17.5415

市现率选股

市现率=每股股价/每股现金流量

In [12]:
q = query(valuation).filter(
    valuation.pcf_ratio > 8
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203189,688499.XSHG,40.8580,NaN,5.8749,3.8379,98.8203,8800.0000,138.4944,3417.1347,53.7789,2023-01-01,65.2241
1,2203190,300710.XSHE,205.7019,NaN,3.5915,3.7974,539.7964,9949.0300,24.2557,6549.0617,15.9666,2023-01-01,77.2912
2,2203192,600419.XSHG,26.3187,NaN,2.2153,2.1017,9.9549,32019.0246,50.2058,30414.5474,47.6900,2023-01-01,33.5442
3,2203193,605016.XSHG,26.0931,NaN,2.9295,5.2586,915.2258,17752.0000,38.4686,8922.2000,19.3344,2023-01-01,36.8194
4,2203194,300383.XSHE,25.9501,NaN,1.0945,2.0267,17.3301,179759.2847,146.6836,178113.2945,145.3404,2023-01-01,17.5415