In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('15661317439','Ax020629.')

auth success

净资产收益率选股

In [7]:
from jqdatasdk import *

# indicator为财务指标数据库
q = query(indicator).filter(
    indicator.roe > 100
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101025897,002157.XSHE,2023-01-01,2022-10-31,2022-09-30,-1.0557,-3.026987e+09,-3.170640e+09,-979995.01,236.64,...,-75.19,-8.07,-75.19,-8.07,47.91,-55.20,45.38,-58.68,45.81,-81.29
1,101026575,002499.XSHE,2023-01-01,2022-10-29,2022-09-30,-0.0856,-1.541168e+07,-9.136442e+06,-13853.07,233.27,...,-10.66,-42.18,-10.66,-42.18,-145.74,-0.02,-130.15,9.68,-140.51,8.84
2,101027701,002503.XSHE,2023-01-01,2022-10-28,2022-09-30,-0.2616,-7.969737e+08,-1.651193e+08,-573708.99,119.21,...,-88.65,-74.11,-88.65,-74.11,-2.10,-55.53,3.70,-55.86,-0.74,-64.30
3,101030156,002629.XSHE,2023-01-01,2022-10-25,2022-09-30,0.0650,-1.635515e+07,-1.543599e+07,0.00,159.12,...,118.60,62.39,118.60,62.39,-207.41,-358.23,591.57,902.72,599.66,903.42
4,101029570,300010.XSHE,2023-01-01,2022-10-26,2022-09-30,-0.1305,-9.646838e+07,-7.079236e+07,2364200.99,290.06,...,0.51,-18.93,0.51,-18.93,-9621.00,-738.29,-2851.04,-185.08,-744.41,-200.72

总资产净利率选股

In [9]:
q = query(indicator).filter(
    indicator.roa > 10
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101030526,000408.XSHE,2023-01-01,2022-10-20,2022-09-30,1.1194,1.777695e+09,1.838051e+09,2.151987e+08,15.52,...,120.82,-0.97,120.82,-0.97,350.95,11.56,366.02,11.81,366.02,11.81
1,101027431,000529.XSHE,2023-01-01,2022-10-28,2022-09-30,1.0618,3.009850e+07,2.495037e+07,8.200444e+08,22.97,...,12.82,-30.60,12.82,-30.60,996.66,664.24,728.15,575.28,709.29,812.29
2,101027867,000792.XSHE,2023-01-01,2022-10-28,2022-09-30,0.5383,2.912385e+09,4.789811e+09,-2.050781e+07,14.41,...,34.55,-35.60,34.55,-35.60,90.21,-28.23,127.96,-39.75,82.69,-48.34
3,101029005,002022.XSHE,2023-01-01,2022-10-27,2022-09-30,2.2274,1.139878e+09,2.153462e+09,NaN,26.04,...,237.38,828.61,237.38,828.61,362.44,4797.28,361.28,5319.13,358.17,4644.16
4,101027608,002141.XSHE,2023-01-01,2022-10-28,2022-09-30,0.1985,-4.009425e+07,-4.454599e+07,2.652802e+08,23.38,...,-31.46,-17.24,-31.46,-17.24,919.45,791.59,1127.31,796.01,2362.25,3797.27

总股本选股

In [5]:
q = query(valuation).filter(
    valuation.capitalization > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203189,688499.XSHG,40.8580,NaN,5.8749,3.8379,98.8203,8800.0000,138.4944,3417.1347,53.7789,2023-01-01,65.2241
1,2203190,300710.XSHE,205.7019,NaN,3.5915,3.7974,539.7964,9949.0300,24.2557,6549.0617,15.9666,2023-01-01,77.2912
2,2203191,601101.XSHG,3.9458,NaN,0.8392,0.9269,4.1105,143999.7926,88.9919,143999.7926,88.9919,2023-01-01,4.4177
3,2203192,600419.XSHG,26.3187,NaN,2.2153,2.1017,9.9549,32019.0246,50.2058,30414.5474,47.6900,2023-01-01,33.5442
4,2203193,605016.XSHG,26.0931,NaN,2.9295,5.2586,915.2258,17752.0000,38.4686,8922.2000,19.3344,2023-01-01,36.8194

流通股本选股

In [6]:
q = query(valuation).filter(
    valuation.circulating_cap > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,2203189,688499.XSHG,40.8580,NaN,5.8749,3.8379,98.8203,8800.0000,138.4944,3417.1347,53.7789,2023-01-01,65.2241
1,2203190,300710.XSHE,205.7019,NaN,3.5915,3.7974,539.7964,9949.0300,24.2557,6549.0617,15.9666,2023-01-01,77.2912
2,2203191,601101.XSHG,3.9458,NaN,0.8392,0.9269,4.1105,143999.7926,88.9919,143999.7926,88.9919,2023-01-01,4.4177
3,2203192,600419.XSHG,26.3187,NaN,2.2153,2.1017,9.9549,32019.0246,50.2058,30414.5474,47.6900,2023-01-01,33.5442
4,2203193,605016.XSHG,26.0931,NaN,2.9295,5.2586,915.2258,17752.0000,38.4686,8922.2000,19.3344,2023-01-01,36.8194